html {
  /* background-color: orange; */
  background-image: url('mechanic background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  min-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

new {
  margin: 0;
}
